<h1 style="text-align: center;"> Je fais des tests avec Material </h1>

<mat-grid-list cols="3" rowHeight="1:1" gutterSize="5">
  <mat-grid-tile><material-single-blog></material-single-blog></mat-grid-tile>
  <mat-grid-tile><material-single-blog></material-single-blog></mat-grid-tile>
  <mat-grid-tile><material-single-blog></material-single-blog></mat-grid-tile>
  <mat-grid-tile><material-single-blog></material-single-blog></mat-grid-tile>
  <mat-grid-tile><material-single-blog></material-single-blog></mat-grid-tile>
  <mat-grid-tile><material-single-blog></material-single-blog></mat-grid-tile>
</mat-grid-list>
